<div class="activity-filter">
  <mat-checkbox
    class="activity-filter__checkbox"
    [checked]="isProjectSelected()"
    (change)="fieldToggled.emit(ACTIVITY_FIELDS.PROJECT)"
  >
    {{ COLUMN_CONFIGS[ACTIVITY_FIELDS.PROJECT].label }}
  </mat-checkbox>

  <mat-checkbox
    class="activity-filter__checkbox"
    [checked]="isEmployeeSelected()"
    (change)="fieldToggled.emit(ACTIVITY_FIELDS.EMPLOYEE)"
  >
    {{ COLUMN_CONFIGS[ACTIVITY_FIELDS.EMPLOYEE].label }}
  </mat-checkbox>

  <mat-checkbox
    class="activity-filter__checkbox"
    [checked]="isDateSelected()"
    (change)="fieldToggled.emit(ACTIVITY_FIELDS.DATE)"
  >
    {{ COLUMN_CONFIGS[ACTIVITY_FIELDS.DATE].label }}
  </mat-checkbox>
</div>